<div data-ng-controller="tarjetasController">
    <!--INICIA SECCION PARA LISTAR TARJETAS-->
    <div class="col-md-12">
        <button ng-if="verTarjetas==true" ng-click="agregarTarjeta()" class="btn btn-primary">
            <em class="fa fa-plus"></em> Agregar</button>
        <button ng-if="verFormAgregarTarjeta==true || verFormEditarTarjeta==true" ng-click="agregarAtarjetas()" class="btn btn-primary">
            <em class="fa fa-hand-o-left"></em> Volver</button>
        <!-- <button ng-if="verFormEditarTarjeta==true" ng-click="editarAtarjeta()" class="btn btn-info">
            <em class="fa fa-hand-o-left"></em> Volver</button>
        <button ng-if="verTransacciones==true" ng-click="volverDetallesTarjeta()" class="btn btn-success">
            <em class="fa fa-hand-o-left"></em> Volver</button> -->
        <!-- <button ng-if="verTarjetas==true" ng-click="excel()" class="btn btn-success">
            <em class="fa fa-file-excel-o"></em> Exportar</button> -->
        <!--<js-xls onread="read" onerror="error" class="">Excel</js-xls>-->
    </div>

    <!--INICIA SECCION PARA LISTAR TARJETAS-->
    <div ng-if="verTarjetas==true" class="col-md-12">
        <div class="panel panel-default">
            <!-- Progress table -->
            <div class="table-responsive">
                <table class="table v-middle" id="tablaTarjetas">
                    <thead>
                        <tr>
                            <th>idTag</th>
                            <th>Cliente</th>
                            <th>Saldo</th>
                            <th>Estado</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="responsive-table-body">
                        <tr ng-repeat="tarjeta in tarjetas">
                            <td ng-click="detallesTarjeta(tarjeta)">{{tarjeta.codigo_rfid}}</td>
                            <td>{{tarjeta.cliente.razon_social}}</td>
                            <td>{{tarjeta.saldo}}</td>
                            <td>{{tarjeta.alias}}</td>
                            <td class="text-right">
                                <a ng-click="editarTarjeta(tarjeta)" class="btn btn-default btn-xs" 
                                    data-placement="top" title="Editar"><i class="fa fa-pencil"></i></a>
                                <a ng-click="alertEliminarTarjeta(tarjeta.id_tarjeta)" class="btn btn-danger btn-xs" 
                                    data-placement="top" title="Eliminar"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- // Progress table -->
            <div ng-if="totalTarjetas>tarjetasPorPagina" class="panel-footer padding-none text-center">
                <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li ng-repeat="pagina in paginasTarjetas">
                    <a type="button" ng-click="listarTarjetas(pagina)">{{pagina+1}}</a>
                </li>
                <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--TERMINA SECCION PARA LISTAR TARJETAS-->
    
    <!--INICIA SECCION PARA AGREGAR TARJETA-->
    <div class="col-md-12" ng-if="verFormAgregarTarjeta==true || verFormEditarTarjeta==true">
        <div class="panel panel-default">
            <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">idTag</label>
                    <div class="col-sm-9">
                        <input ng-model="formTarjeta.codigo_rfid" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Saldo</label>
                    <div class="col-sm-9">
                    <input ng-model="formTarjeta.saldo" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Estado</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="formTarjeta.id_estado_autorizacion">
                            <option ng-selected="formTarjeta.id_estado_autorizacion == estado.id_estado_autorizacion" 
                                ng-repeat="estado in estadosAutorizacion" ng-value="estado.id_estado_autorizacion">{{estado.alias}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Comentario</label>
                    <div class="col-sm-9">
                    <textarea ng-model="formTarjeta.comentario" class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </form>
            </div>
            <div class="panel-footer text-right">
                <button ng-if="accionPost=='agregar'" ng-click="enviar(accionPost, '')" class="btn btn-info">Enviar</button>
                <button ng-if="accionPost=='editar'" ng-click="enviar(accionPost, formTarjeta.id_tarjeta)" class="btn btn-info">Actualizar</button>
                <button ng-click="volverTarjetas()" class="btn btn-info">Cerrar</button>
            </div>
        </div>
    </div>
    <!--TERMINA SECCION PARA AGREGAR TARJETA-->

    <!--INICIA PAGINA PARA DETALLES DE UNA TARJETA-->
    <div ng-if="verTarjeta==true" class="panel panel-default">
        <!-- Tabbable Widget -->
        <div class="tabbable tabs-primary">
            <!-- Tabs -->
            <ul class="nav nav-tabs text-center">
                <li class="active"><a href="#info-estacion" data-toggle="tab"><i class="fa fa-fw fa-home"></i>Info</a></li>
                <li><a href="#cliente-tarjeta" data-toggle="tab" ng-click="datosClienteTarjeta()"><i class="fa fa-fw fa-user"></i>Cliente</a></li>
                <li><a href="#editar-tarjeta" data-toggle="tab"><i class="fa fa-fw fa-pencil"></i>Editar</a></li>
                <li><a href="#editar-tarjeta" data-toggle="tab"><i class="fa fa-fw fa-car"></i>Transacciones</a></li>
            </ul>
            <!-- // END Tabs -->

            <!-- Panes -->
            <div class="tab-content">
                <!--INICIA PANEL PARA VER INFO DE LA TARJETA-->
                <div id="info-estacion" class="tab-pane active">
                    <div class="panel panel-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-4">
                                    <div class="col-md-12">
                                        <div class="card" style="margin-bottom: 20px;">
                                            <div class="row">
                                                <div class="col-md-6 p-3">
                                                    <b>Código:</b>  <span>{{tarjeta.codigo_rfid}}</span><br>
                                                    <b>Cliente: </b> <span>{{tarjeta.razon_social}} </span><br>
                                                    <b>Saldo: </b> <span>{{tarjeta.saldo}} </span><br>
                                                    <b>Estado:  </b> <span>{{tarjeta.estadoAutorizacion}}</span><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TERMINA PANEL PARA VER INFO DE LA TARJETA-->

                <!--INICIA PANEL PARA VER INFORMACION DEL CLIENTE DUENO DE LA TARJETA-->
                <div id="cliente-tarjeta" class="tab-pane">
                    <div class="panel panel-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-4">
                                    <div class="col-md-12">
                                        <div class="card" style="margin-bottom: 20px;">
                                            <div class="row">
                                                <div class="col-md-6 p-3">
                                                    <b>R.U.C.:</b>  <span>{{cliente.ruc}}</span><br>
                                                    <b>Nombre:</b>  <span>{{cliente.razon_social}}</span><br>
                                                    <b>Ciudad: </b> <span>{{cliente.ciudad}} </span><br>
                                                    <b>Dirección: </b> <span>{{cliente.direccion}} </span><br>
                                                    <b>Telefono:  </b> <span>{{cliente.telefono}}</span><br>
                                                    <b>Email:  </b> <span>{{cliente.email}}</span><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TERMINA PANEL PARA VER INFORMACION DEL CLIENTE DUENO DE LA TARJETA-->

                <!--INICIA SECCION PARA EDITAR DATOS DE LA TARJETA-->
                <div id="editar-tarjeta" class="tab-pane">
                    <div class="panel panel-default">
                        <div>
                            <h5 class="text-center">{{accion}}</h5>
                        </div>
                        <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Código RFID</label>
                                <div class="col-sm-9">
                                    <input ng-model="formTarjeta.codigo_rfid" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Saldo</label>
                                <div class="col-sm-9">
                                <input ng-model="formTarjeta.saldo" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Estado</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="formTarjeta.id_estado_autorizacion">
                                        <option ng-selected="formTarjeta.id_estado_autorizacion == estado.id_estado_autorizacion" 
                                            ng-repeat="estado in estadosAutorizacion" ng-value="estado.id_estado_autorizacion">{{estado.nombre}}
                                        </option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Comentario</label>
                                <div class="col-sm-9">
                                <textarea ng-model="formTarjeta.comentario" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </form>
                        </div>
                        <div class="panel-footer text-right">
                            <button ng-if="accionPost=='agregar'" ng-click="enviar(accionPost, '')" class="btn btn-info">Enviar</button>
                            <button ng-if="accionPost=='editar'" ng-click="enviar(accionPost, formTarjeta.id_tarjeta)" class="btn btn-info">Actualizar</button>
                            <button ng-click="volverTarjetas()" class="btn btn-info">Cerrar</button>
                        </div>
                    </div>
                </div>
                <!--TERMINA SECCION PARA EDITAR DATOS DE LA TARJETA-->
            </div>
        </div>
    </div>
    </div>
    <!--TERMINA PAGINA PARA DETALLES DE UNA Tarjeta-->

    <!--INICIA PAGINA PARA VER LAS TRANSACCIONES DE LA Tarjeta-->
    <div ng-if="verTransacciones==true" class="panel panel-default" style="font-size: 0.85em;">
        <div ng-if="transacciones" class="card">
            <div class="card-header">
                <div class="col-md-12">
                </div>
            </div>
            <div class="card-body">
                <table class="table">    
                    <thead>
                        <tr>
                            <!--<th>Id transacción</th>-->
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Código RFID</th>
                            <!--<th>Energía inicio [Wh]</th>
                            <th>Energía fin [Wh]</th>-->
                            <th>Energía consumida [kWh]</th>
                            <th>Estado</th>
                            <th>Razón</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr ng-repeat="transaccion in transacciones">
                                <!--<td>{{transaccion.id_transaccion}}</td>-->
                                <td>{{transaccion.fecha}}</td>
                                <td>{{transaccion.hora_inicio}}</td>
                                <td>{{transaccion.codigo_rfid}}</td>
                                <!--<td>{{transaccion.energia_inicio}}</td>
                                <td>{{transaccion.energia_fin}}</td>-->
                                <td>{{transaccion.energiaConsumida}}</td>
                                <td>{{transaccion.estado}}</td>
                                <td>{{transaccion.razon}}</td>
                                <!--<td><a href="/home/transacciones/eliminar/{{transaccion.id_transaccion}}" class="btn"
                                title="eliminar"> <em class="fa fa-trash"></em></a></td>-->
                            </tr>   
                    </tbody>
                </table>
            </div>
            <!-- // Progress table -->

            <div ng-if="totalTransacciones>transaccionesPorPagina" class="panel-footer padding-none text-center">
                <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li ng-repeat="pagina in paginasTransacciones">
                    <a type="button" ng-click="listarTransacciones(Tarjeta.id_Tarjeta, pagina)">
                            {{pagina+1}}
                    </a>
                </li>
                <li><a href="#">&raquo;</a></li>
                </ul>
            </div>

        </div>
        <div ng-if="!transacciones" class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Aún no se ha realizado ninguna transacción en ninguna estación</p>
            </div>
        </div>
    </div>
    <!--TERMINA PAGINA PARA AGREGAR NUEVA Tarjeta-->

</div>
